{{ if template:has_breadcrumbs }}
    {{ if theme:options:show_breadcrumbs == 'yes' }}
        <ul class="breadcrumbs">
        {{ template:breadcrumbs }}
			{{ if uri }}
				<li>{{ url:anchor segments=uri title=name }}&nbsp;>&nbsp;</li>
			{{ else }}
				<li class="current"><a href="#">{{ name }}</a></li>
			{{ endif }}
		{{ /template:breadcrumbs }}
		</ul>
	{{ endif }}
{{ endif }}
