<h1>{{ settings:site_name }}</h1>
<h4 class="subheader">{{ settings:site_slogan }}</h4>
<nav class="top-bar">
	<section class="top-bar-section">
		<ul>
			{{ navigation:links group="header" }}
		</ul>
	</section>
</nav>
<hr />