<!-- Meta data -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<title>{{ settings:site_name }} - {{ template:title }}</title>
{{ template:metadata }}
<meta name="author" content="José Rico - www.joserico.com">

<!-- CSS Stylesheets -->
{{ theme:css file="normalize.css" }}
{{ theme:css file="foundation.css" }}

<!-- Load up some favicons -->
{{ theme:favicon }}

<!-- Javascripts -->
{{ theme:js file="/vendor/custom.modernizr.js" }}

<!-- Google Analytics -->
{{ integration:analytics }}

<!-- Add some theme option variables for styling -->
<style type="text/css">
	{{ if theme:options:background == 'white' }}
		body { background-color: white; }
	{{ elseif theme:options:background == 'grey' }}
		body { background-color: #F5F5F5; }
	{{ elseif theme:options:background == 'noise' }}
		body { background: url({{ theme:path }}/img/noise.png) fixed repeat; }
	{{ endif }}
</style>
    