<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{{ theme:partial name="metadata" }}
	</head>
	<body>
		<div class="row">
        	<!-- Header -->
            <div class="large-12 columns">
                {{ theme:partial name="header" }}
            </div>
            <!-- Content -->
            <div class="large-8 columns">
            	<!-- breadcrumbs -->
               	{{ theme:partial name="breadcrumbs" }}
                <!-- /breadcrumbs -->
                {{ template:body }}
            </div>
            <!-- Sidebar -->
            <div class="large-4 columns">
                {{ theme:partial name="sidebar" }}
            </div>
            <!-- Footer -->
            <div class="large-12 columns">
                {{ theme:partial name="footer" }}
            </div>
        </div>
	</body>
</html>